<h1>Edit user</h1>

<%= form_for(@master) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bgcolor %><br />
    <%= f.text_field :bgcolor %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
