<% if current_user %>
  <table bgcolor="<%=current_user.bgcolor%>">
  <tr><td>
  Welcome <%= current_user.name %>! <br>
  <%= link_to "Sign Out of All Accounts", signout_path %>
  
  <p>
  <% @authentications.each do |auth| %>
    <%= image_tag "#{auth.provider}_32.png", :size => "32x32", :alt => "#{auth.provider}" %> <%= auth.uid %> 
    <% if @count > 1 %>
      <%= link_to "Disconnect", auth, :confirm => 'Are you sure?', :method => :delete %><br>
    <% end %>
  <% end %>
  </p>
<% else %>
  <table>
  <tr><td>
<% end %>

<p>
Sign in with an account:<br>
  <a href="/auth/identity"><%= image_tag "identity_64.png", :size => "64x64", :alt => "Identity" %></a>
  <a href="/auth/twitter"><%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %></a>
  <a href="/auth/github"><%= image_tag "github_64.png", :size => "64x64", :alt => "GitHub" %></a>
</p>

</td></tr>
</table>
